.Join_us_button {
  width: 12vw;
  height: 3.5vw;
  background-color: #182645;
  border-radius: 0.416vw;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5vw;
  text-align: center;
  color: #ffffff;
  margin-top: 4vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  cursor: pointer;
  transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out,
    color 0.2s ease-in-out;
}
.Join_us_button:hover {
  background-color: #0e182e;
  transform: scale(1.02);
}
