@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}
/* font-family: 'Manrope', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
