.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1.7vw 6vw;
  padding-bottom: 0;
}
.connectxlogo {
  object-fit: contain;
  width: 11vw;
  cursor: pointer;
}
.navbar_buttons {
  width: 15.5vw;
  display: flex;
  justify-content: space-between;
}
.login_button,
.sign_up_button {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3vw;
  line-height: 2.13vw;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.NavbarLink {
  display: flex;
  text-decoration: none;
}
.login_button {
  transition: transform 0.1s ease-out;
}
.login_button:hover {
  transform: scale(1.02);
}
.sign_up_button {
  background-color: #121e35;
  border-radius: 1.87vw;
  width: 10.15vw;
  height: 100%;
  color: #fff7f7;
  transition: transform 0.1s ease-out, background-color 0.1s ease-out,
    color 0.15s ease-in-out;
}
.sign_up_button:hover {
  transform: scale(1.02);
  background-color: #0e182e;
}
