.ResetPasswordMainPage {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #f6f8ff;
  padding-top: 10vw;
  position: relative;
  padding-bottom: 0.8vw;
}
.ResetPasswordPageForm {
  width: 28.5vw;
  height: 20.8vw;
  background: #fcfdff;
  border: 2px solid #a6a6a6;
  box-sizing: border-box;
  border-radius: 0.78vw;
  margin: auto;
  margin-bottom: 0.5vw;
}
.ResetPasswordPageForm p {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.34vw;
  line-height: 3.177vw;
  text-align: center;
  color: #1792dd;
  margin-top: 1.614vw;
  margin-bottom: 2.927vw;
}
#bottomElement {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 1.4vw;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

#bottomElement a {
  text-decoration: none;
  color: #1792dd;
}
#bottomElement div {
  margin-bottom: 0.2vw;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
