.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 3vw 6vw;
  padding-bottom: 0;
}
.connectxlogo {
  object-fit: contain;
  width: 13vw;
}
.navbar_buttons {
  width: 17vw;
  display: flex;
  justify-content: space-between;
}
.login_button,
.sign_up_button {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.56vw;
  line-height: 2.13vw;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.login_button {
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
}
.login_button:hover {
  transform: scale(1.05);
  opacity: 0.8;
}
.sign_up_button {
  background-color: #121e35;
  border-radius: 1.87vw;
  width: 10.88vw;
  height: 6.67vh;
  color: #fff7f7;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out,
    color 0.15s ease-in-out;
}
.sign_up_button:hover {
  transform: scale(1.02);
  background-color: #26364d;
  color: #ffebeb;
}
