.HomeUserDetails {
  width: 18vw;
  border: 2px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 0.7vw;
  height: fit-content;  position: sticky;
  top: calc(81px + 1.2vw);
}
#UpperImageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#UpperImageContainer img:first-child {
  width: 100%;
  height: 10vw;
  object-fit: cover;
  border-top-left-radius: 0.7vw;
  border-top-right-radius: 0.7vw;
  border-bottom: 2px solid #c4c4c4;
}
#UpperImageContainer img:last-child {
  width: 5.4vw;
  height: 5.4vw;
  position: relative;
  top: -2.5vw;
  border-radius: 50%;
  object-fit: cover;
}
#UserDetailsContent {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  border-bottom: 2px solid #c4c4c4;
}
#UserDetailsContent h2 {
  color: #383838;
  font-size: 1.25vw;
  line-height: 1.4vw;
  padding-bottom: 1vw;
}
#UserDetailsContent p {
  color: #a7a7a7;
  font-size: 0.8vw;
  line-height: 1vw;
}
#UserDetailsContent a {
  font-weight: 500;
  font-size: 1vw;
  color: #1792dd;
  text-decoration: none;
  margin: 1vw 0;
  display: block;
}
.ProfileOptions {
  display: flex;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1vw;
  line-height: 1.25vw;
  color: #5a5a5a;
  border-bottom: 2px solid #c4c4c4;
  padding: 0.6vw 1vw;
  cursor: pointer;
}
.ProfileOptions img {
  margin-right: 1vw;
  height: 19px;
}

.form-group {
  display: block;
  height: 35px;
  display: flex;
  align-items: center;
}

.form-group input {
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 1.2vw;
  color: #787878;
  margin-left: 1.5vw;
}

.form-group label:after {
  content: "";
  -webkit-appearance: none;
  border: 2px solid #d1d1d1;
  height: 0.9vw;
  width: 0.9vw;
  display: inline-block;
  position: absolute;
  top: 0px;
  cursor: pointer;
  left: 13.5vw;
}

.form-group input:checked + label:before {
  content: "";
  display: block;
  position: absolute;
  top: -4px;
  left: 14.15vw;
  width: 6px;
  z-index: 1;
  height: 14px;
  border: solid #1dc002;
  border-width: 0 2.5px 2.5px 0;
  transform: rotate(45deg);
}
