#ProfilePageEditProfile {
  @apply w-full absolute top-0 left-0 z-10;
  background-color: rgb(0, 19, 36, 0.6);
  height: calc(100vh - 81px);
  display: flex;
  align-items: center;
  justify-content: center;
}
