.OnSearchDisplay {
  background-color: rgba(0, 19, 36, 0.6);
  width: 100%;
  position: fixed;
  top: 81px;
  right: 0;
  transition: opacity 0.2s ease-in-out, z-index 0.2s ease-in-out,
    padding-top 0.2s ease-in-out 0.1s;
}
.SearchPopOut {
  background-color: white;
  width: 31vw;
  margin-left: 17.2vw;
  transition: opacity 0.2s ease-in-out;
}
.queriesHeading {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 1vw;
  color: #bdbfc4;
  border-bottom: 1px solid #959595;
  padding-top: 0.5vw;
  padding-left: 1.5vw;
  padding-bottom: 0.5vw;
}
.home-main-container-wrapper-wrapper {
  @apply relative;
}
.home-main-report-wrapper {
  @apply fixed top-0 left-0 w-full h-screen z-50;
  background-color: rgba(0, 19, 36, 0.6);
}
.home-main-report-wrapper {
  padding-top: 81px;
  @apply flex justify-center items-center;
}
