.SignUpMainPage {
  width: 100%;
  height: 100vh;
  background-color: #f6f8ff;
  padding-top: 7vw;
}
.SignupPageForm {
  width: 28.5vw;
  height: 71vh;
  background: #fcfdff;
  border: 2px solid #a6a6a6;
  box-sizing: border-box;
  border-radius: 0.78vw;
  margin: auto;
}
.SignupPageForm p {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.34vw;
  line-height: 3.177vw;
  text-align: center;
  color: #1792dd;
  margin-top: 1.614vw;
  margin-bottom: 1.927vw;
}
