.Second{
    position: absolute;
width: 275.71px;
height: 81.51px;
left: 822.62px;
top: 1160.58px;

font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 68px;
text-align: center;

color: #000000;
}
.objpara{
    position: absolute;
    width: 1409.83px;
    height: 82px;
    left: 255.09px;
    top: 1292.02px;
font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;
text-align: center;

color: #003F78;
}