.first {
    position: absolute;
width: 1920px;
height: 879.74px;
left: 0px;
top: 0px;

background: #F1F3FF;
}
img{
    position: absolute;
width: 205.94px;
height: 56px;
left: 857.03px;
top: 62px;
}
h1{
    position: absolute;
width: 621px;
height: 102px;
left: 649.97px;
top: 222.92px;

font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 75px;
line-height: 102px;
text-align: center;

color: #000000;
}
.aboutpara{
    position: absolute;
width: 815.22px;
height: 82px;
left: 552.39px;
top: 379.93px;

font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;
text-align: center;

color: #000000;
}