.TopAboutContainerHeading {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3.9vw;
  line-height: 5.35vw;
  text-align: center;
  color: #000000;
  margin: auto;
  padding-bottom: 2.51vw;
}
