.question-section-form {
  @apply flex flex-col justify-center items-start;
}
.question-section-text-area {
  @apply rounded-md font-normal outline-none;
  border: 1px solid #bdbfc4;
  width: 100%;
  font-size: 1.1vw;
  padding: 0.4vw 0.8vw;
}
.question-section-text-area::placeholder {
  color: #666666;
}
.question-section-form-button {
  @apply font-manrope font-semibold text-white uppercase rounded;
  font-size: 0.9vw;
  background: #1792dd;
  width: 4.5vw;
  height: 2.1vw;
  margin-top: 1vw;
}
